In [1]:
231-321

-90

In [2]:
10/3

3.3333333333333335

In [3]:
10**3

1000

In [4]:
10//3

3

In [5]:
10//3 #floor division

3

In [6]:
10/3-120*5

-596.6666666666666

In [7]:
name = "Rahul"
age = 31
can_vote = True

In [8]:
a=5
a=+5
a=-3

c

In [10]:
a,b =10,3
a>b

True

In [11]:
a<b

False

In [15]:
print(a>b)
print(a<b)
print(a==b)
print(a==b)
print(a=b)
print(a==b)

True
False
False

logical operation

In [20]:
X="apple"
y="mango"
print(X=="apply"and X==y)
print(X=="apple"and X!=y)
print(X=="apple"or X==y)
print(X=="apple")

False
True
True
True

In [29]:
fruits=['mango','apple','cherry','bannana']

In [30]:
'apple'in fruits

True

In [33]:
p=int(input('principal: '))
r=float(input('rate:'))
t=int(input('rate:'))
SI=p*r*t/100
print('principal',p)
print('rate',r)
print('time',t)
print('simple intrest',SI)
print('amount',p+SI)

principal 10000
rate 10.0
time 1
simple intrest 1000.0
amount 11000.0

In [35]:
fav_city=input('Favourite city:')
print('Yourfavourite city',fav_city)

Yourfavourite city lko