In [1]:
231-321

-90

In [2]:
10/3

3.3333333333333335

In [3]:
10**3

1000

In [4]:
10//3

3

In [5]:
10//3 #floor division

3

In [6]:
10/3-120*5

-596.6666666666666

In [7]:
name = "Rahul"
age = 31
can_vote = True

In [8]:
a=5
a=+5
a=-3

c

In [10]:
a,b =10,3
a>b

True

In [11]:
a<b

False

In [15]:
print(a>b)
print(a<b)
print(a==b)
print(a==b)
print(a=b)
print(a==b)

True
False
False

logical operation

In [20]:
X="apple"
y="mango"
print(X=="apply"and X==y)
print(X=="apple"and X!=y)
print(X=="apple"or X==y)
print(X=="apple")

False
True
True
True

In [29]:
fruits=['mango','apple','cherry','bannana']

In [30]:
'apple'in fruits

True

In [33]:
p=int(input('principal: '))
r=float(input('rate:'))
t=int(input('rate:'))
SI=p*r*t/100
print('principal',p)
print('rate',r)
print('time',t)
print('simple intrest',SI)
print('amount',p+SI)

principal 10000
rate 10.0
time 1
simple intrest 1000.0
amount 11000.0

In [35]:
fav_city=input('Favourite city:')
print('Yourfavourite city',fav_city)

Yourfavourite city lko

In [2]:
Name='rahul'
city='lko'
print(Name,city)
print (city)
print(Name,city)

rahul lko
lko
rahul lko

if
if else
if elif else
match case

In [12]:
qty=10
price=200
total= qty*price
if total>200:
    print('you purchased items for more than $200')
    print('you get 10% discount')
    total= total*0.9 # 90% of the total
print('total',total)

you purchased items for more than $200
you get 10% discount
total 1800.0

In [14]:
number=int(input('entera number:'))
if number%2==0:
    print(f'evennum{number}')
else:
    print(f'odd num{number}')

odd num3

In [34]:
mark= int(input('enter total marks you got:'))
total=100
pct= mark/total*100
print(f'percentage{pct}%')
if pct>=90:
    print('ðŸ˜‚Grade A+')
elif pct>=80:
    print('ðŸ˜€grade A')
elif pct>=70:
    print('ðŸ˜ƒGrade B')
elif pct>=60:
    print('ðŸ˜€Garde C')
elif pct>=50:
    print('Grade DðŸ˜“ðŸ˜’ðŸ¤¤')
else:
    print('fail')

percentage78.0%
ðŸ˜ƒGrade B

In [26]:
print('What is the capital of uttrakhand')
print('A.Dehradun')
print('B.lucknow')
print('C.Delhi')
print('D.Chandigarh')
ans= input('entre option')
match ans:
    case 'A':
        print('correct . you win')
    case 'B':
        print('Wrong ans up ka ha')
    case 'C':
        print('wrong ans,India me raha karo')
    case 'D':
        print('worong ans')

What is the capital of uttrakhand
A.Dehradun
B.lucknow
C.Delhi
D.Chandigarh
wrong ans,India me aha karo