In [1]:
movies = ["ironmna 1",
          "ironman 2",
          "ironman 3",
          "endgame",
          "antman",
          "hulk",
          "gardian of the galaxy",
          "gardian of the galaxy 2",
          "thor",
          "thor ragnrok",
          "the flash",
          "Man of steel"
          "The dark knight"]

In [2]:
for i in movies:
    print(i)

ironmna 1
ironman 2
ironman 3
endgame
antman
hulk
gardiun of the galaxy
gardiun of the galaxy 2
thor
thor ragnrok
the flash
Man of steelThe dark knight

for item in iterable:
    statement 1
    ...
    statement n

In [3]:
for i in [12,45,56,122]:
    print(i)

12
45
56
122

In [6]:
len(movies)

12

In [7]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [10]:
for i in range (2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [15]:

for name in movies:
    if 'o'in name or 'the':
        print(name)

ironmna 1
ironman 2
ironman 3
endgame
antman
hulk
gardiun of the galaxy
gardiun of the galaxy 2
thor
thor ragnrok
the flash
Man of steelThe dark knight

In [16]:
x = [3,2,1,5,6]
total = 0
for i in x:
    total+= i
print(total)

17

In [17]:
sum(x) #pyhonic way

17

In [18]:
n = 10
fact = 1
for i in range(2, n+1):
    fact *= i
print(fact)

3628800

In [21]:
n = 550
fact = 1
for i in range(2, n+1):
    fact *= i
print(fact)

12789431970371636606966620734791313516604437860464878229575155395257656153529144509770146781023755836666984342522223668276487104935057419157191303316572641730844442916621884079259664744503530060106462229406709913795896382483051752421457376925139375918554742142277084109072075415472744773895909513758702137196402197602987575610953689410300363603347469264966415853466714416517106192691686307844235819017453689676147932595660970929967849662850819218511729785674112672060292399838490165441610219748228446647425232921460703278692195195847697533241956313120785846547163235092917482532359051896586210089077294749582508285049484663787958625020980530131323181204679160348188706036451729960518083706882188447889350237152146357737869092593947690666727221650010603370946666527771527829457588458617616446849399986511076111149473502989094186304825578814910534550257292205131572031477494708772675415889553705144186548105284431918085774927996276689160184310528173544717613694883990736557970092001258571125051431679481241244220771782038166976978235511761290071119920073750737107923959546182699429453914126446571813253916678812348394285504902069307310080000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [24]:
a = 1
while a < 10:
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9

In [25]:
while True:
    x = input('Enter a number:')
    if x.isnumeric():
        print('very good')
        break
    else:
        print('invalid input')

invalid input
very good